/*****************************/
/*** MAIN WEBSITE ELEMENTS ***/
/*****************************/

/* Custom Fonts */
@font-face {
	font-family: 'QZGlyph';
	src: url("media/fonts/QZGlyph.ttf");
}

/* Elements */
html {
	max-width: 100%;
}
body {
	background-color: black;
	background-image: url("media/images/STAR.png");
	background-repeat: repeat;
	background-size: 25%;
	background-position: center -34.75em;
	font-family: monospace;
	color: white;
	text-align: center;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	min-width: 1500px;
	min-height: 100dvh;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	animation: scrollBackground 10s linear infinite;
}
@keyframes scrollBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -100% 100%;
	}
}
* {
	box-sizing: border-box;
}
#black {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	background-color: black;
	padding: auto;
	margin: 0;
}
footer {
	margin-top: auto;
	width: 100%;
}
hr {
	margin: 0 50px;
	overflow: auto	;
}
#separator {
	border: 2px solid #80cfa9;	
	margin: 0 20px;
	width: calc(100% - 40px);
}
section {
	margin: 30px;
	padding: 20px 20px 50px 20px;
	border: 1px double #80cfa9;
	border-radius: 10px;
	justify-self: center;
}

/* Background Music Controller */
.bgm {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 1000px;
	left: -100px;
	max-height: fit-content;
	max-width: fit-content;
    min-width: fit-content;
	z-index: 998;
	background-color: #073B3A;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 1px rgba(0,0,0,50%);
	font-weight: bolder;
	color: #80cfa9;
	opacity: 5%;
	transition: all 0.2s ease-in-out;
}
.bgm:hover {
	opacity: 100%;
}
.bgm:active {
	cursor: grabbing;
}
	/* Inner Box */
	.bgm > div {
		background-color: black;
		border: solid #80cfa9;
		padding: 5px 7px;
		border-radius: 5px;
	}
	/* Audio Player */
	.bgm #bgm-audio {
		width: 300px;
		height: 30px;
	}
	/* Now Playing Text */
	.bgm .now-playing {
		overflow: hidden;
		white-space: nowrap;
		width: 300px;
		margin: 5px 0 10px 0;
		background-color: black;
		color: #a7e2e3;
		font-size: 14px;
	}
	.bgm .now-playing #bgm-text {
		display: inline-block;
		padding-left: 100%;
		animation: scrollLeft 10s linear infinite;
	}
	@keyframes scrollLeft {
		0% {transform: translateX(0);}
		100% {transform: translateX(-100%);}
	}
	.bgm button {
		font-weight: bolder;
		cursor: pointer;
		transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
		text-align: center;
		font-size: 14px;
		font-family: monospace;
		border: 3px solid black;
		border-radius: 5px;
		box-shadow: 2px 2px 1px rgba(0,0,0,50%);
		transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		height: 30px;
	}
	.bgm button:hover,
	.bgm button:active {
		background-color: black;
		border-color: #80cfa9;
		color: #80cfa9;
		box-shadow: 1px 1px 1px rgba(0,0,0,50%);
	}


/* Logo Header */
	/* Logo Container */
	.logobox {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logobox * {
		width: 10%;
	}
	.logobox:hover ~ body {
		background-position: center -35.75em;
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	/* Main Logo */
	#fulllogo {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transform: perspective(900px);
		margin: 10px 10px;
	}
	.logobox:hover #fulllogo {
		transform: perspective(900px) scale(1.05) translateX(-30px) rotateY(35deg) rotateX(10deg);
		margin: 15px 10px;
	}
	/* Alt Logo */
	#altlogo {
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		transform: perspective(900px) scaleX(0) scaleY(1);
		opacity: 0;
		margin: 0;
		width: 150px;
		height: 150px;
	}
	.logobox:hover #altlogo {
		height: fit-content;
		transform: perspective(900px) scale(1.1) rotateY(-15deg) rotateX(10deg);
		opacity: 1;
	}

/* Text */
p {
	border: 3px solid white;
	margin-left: 70px;
	margin-right: 70px;
	padding: 30px;
	font-size: 21px;
	text-align: left;
	background-color: black;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {clear: both;}
h6 {
	font-size: 50px;
	margin: 40px 0 10px 0;
	text-align: center;
}
footer > span {
	font-family: serif;
	font-size: smaller;
	color: #888;
}
*::selection {
	color: #d4c5e2;
	text-decoration: underline;
}
#catitle {
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

/* Footnotes */
	/* Footnote */
	#fn, #ac{
		display: inline-block;
		font-size: 75%;
		color: #888;
		margin-top: 5px;
		margin-right: 6px;
		text-align: left;
	}
	/* Footnote Marker */
	#fm, #cm {
		display: inline-block;
		color: #888;
		text-align: left;
	}
	/* Citation */
	#cm {font-size: 50%; vertical-align: super;}
	/* Aside Caption */
	#ac {text-align: center;}

/* Navigation Bar */
.navbar {
	position: fixed;
	background-color: #073B3A;
	overflow: hidden;
	border: #80cfa9 solid;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	left: 15px;
	right: 15px;
	align-content: right;
	box-shadow: 2px 2px 1px rgba(0,0,0,50%);
	z-index: 999;
}
.navbar a {
	float: right;
	color: #80cfa9;
	background-color: black;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	border: 3px solid #80cfa9;
	padding: 9px 11px;
	margin: 7px 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px rgba(0,0,0,50%);
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar a:hover,
.navbar a#active:hover,
.navbar a#active:active {
	background-color: black;
	border-color: #D4C5E2;
	color: #D4C5E2;
	box-shadow: 1px 1px 1px rgba(0,0,0,50%);
}
.navbar a#active {
	background-color: black;
	border-color: white;
	color: white;
	padding: 9px 22px;
}
.navbar a#logo {
	border: none;	
	float: left;
	padding: 0;
	box-shadow: none;
	height: 55px;
	margin: 0;
}
.navbar a#logo img {
	height: 50px;
	padding: 2.5px 5px;
}

/* Breadcrumb */
.bcrumb {
	display: flex;
	align-items: center;
	text-align: left;
	margin: 10px 30px;
	border: 2px solid #80cfa9;
	padding: 0 20px;
	height: 40px;
	background-color: black;
}
.bcrumb a {
	color: #80cfa9;
	font-weight: 0;
	font-style: none;
	transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
	margin: auto;
	text-decoration: none;
}
.bcrumb a:hover {
	color: #073B3A;
	background-color: #a7e2e3;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 5px 10px;
	border-radius: 5px;
}

/* Grid of Icons */
.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	gap: 20px;
	margin: 0 100px;
}
.grid > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 150px;
	height: 150px;
	border: 2px solid white;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;	
	text-decoration: none;
	perspective: 500px;
	perspective-origin: 50% 50%;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform-origin: center center;
  	backface-visibility: hidden;
  	will-change: transform;
}
.grid > a:hover,
.grid > a:active {
	border-color: #a7e2e3;
	color: #a7e2e3;
	transform: rotateX(14deg) rotateY(15deg) rotateZ(12deg);
}
.grid > a > * {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	margin: 3px;
}
#bigrid > a {
	width: 300px;
	height: 250px;
	font-size: 40px;
}
#bigrid > a:hover {
	transform: rotateX(7deg) rotateY(7.5deg) rotateZ(6deg);
}
#bigrid #catitle {font-size: 18px;}

/************************/
/*** ARTICLE ELEMENTS ***/
/************************/

article {
	text-align: left;
	font-size: 14pt;
	max-width: 100%;
	position: relative;
}
article > div {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	margin: 0 150px;
}
article p {
	border: none;
	background: none;
	border-radius: 10px;
	font-size: 14pt;
	margin: 20px 0 10px 0;
	padding: 10px;
}
article h1 {
	border-radius: 10px;
	font-size: 30pt;
	margin: 30px 140px 10px 90px;
	padding: 10px;
}
article h2 {
	border-radius: 10px;
	font-size: 20pt;
	margin: 10px 150px 0 115px;
	padding: 10px;
}
article hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Collapsible */
.collapsible {
	background-color: black;
	color: #80cfa9;
	cursor: pointer;
	margin: 20px 0 10px 0;
	padding: 10px;
	min-width: 100%;
	border: #80cfa9 solid;
	text-align: left;
	font-family: DTM-Mono;
	font-size: 20px;
	transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.collapsible:hover {
 	background-color: white;
	color: #282454;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	border: 0 solid black;
}
.active {
	background-color: black;
	color: white;
	border: none;
	font-size: 20px;
}
.collapsible:after {
	content: '+';
	color: #80cfa9;
	font-weight: bolder;
	float: right;
	margin-left: 5px;
}
.active:after {content: "-";}
.content {
	margin: 0 10px 15px 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-image: url(media/images/depths.png);
	background-size: 100%;
	border: 2px solid #80cfa9;
	bottom: 1em;
}
.content p {
	margin: 20px 0;
	padding: 5px 60px;
	text-align: left;
}
.notaside {
	flex: 1;
}

/* Aside */
aside {
	background-color: black;
	border: solid #80cfa9;
	float: right;
	max-width: 350px;
	margin: 0 0 3em 1em;
	padding: 10px;
	align-items: center;
	text-align: center;
	box-shadow: 0 0 5px #80cfa9aa;
	order: 2;
	flex: 1;
}
aside > video {
	border: 2px solid #80cfa9;
	margin: 10px auto; 
}